@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
/* font-family: 'Libre Franklin', sans-serif; */
:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --White: white;
}

.useBorderBox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  width: 100%;

  padding: 170px 55px 75px 55px;

  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

header img {
  height: 1.5em;
  width: auto;
}

article {
  width: 100%;
  height: calc(100% - 2.5em);
  text-align: center;
  padding-top: 2.75em;

}

article h1 {
    font-size: 2.25em;
    line-height: .75em;
    color: var(--Gray);
    font-weight: 300;
}

article h1 span {
    font-weight: 700;
    color: var(--Very-Dark-Blue);
}

article h2 {
font-size: 1.25em;
font-weight: 300;
}

footer {
  font-size: 1em;
  font-weight: 300;
  color: var(--Gray);
}

.attribution {
  height: fit-content;
  width: 100%;

  color: var(--Gray);
  font-weight: 600;
  font-size: 1em;

  position: absolute;
  bottom: 0;

  padding-bottom: 0.25em;
  text-align: center;
}
.attribution a {
  color: var(--Blue);
}
