@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");
/* font-family: 'Libre Franklin', sans-serif; */
:root {
  --Blue: hsl(223, 87%, 63%);
  --Pale-Blue: hsl(223, 100%, 88%);
  --Light-Red: hsl(354, 100%, 66%);
  --Gray: hsl(0, 0%, 59%);
  --Very-Dark-Blue: hsl(209, 33%, 12%);
  --White: white;
}

.useBorderBox {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

body {
  height: 100%;
  width: 100%;

  padding: 170px 55px 75px 55px;

  background-color: var(--White);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

header img {
  height: 1.5em;
  width: auto;
}

article {
  width: 100%;
  height: calc(100% - 2.5em);
  text-align: center;
  padding-top: 2.75em;
}

article h1 {
  font-size: 2.25em;
  line-height: 0.75em;
  color: var(--Gray);
  font-weight: 300;
}

article h1 span {
  font-weight: 700;
  color: var(--Very-Dark-Blue);
}

article h2 {
  font-size: 1.25em;
  font-weight: 300;
}

form {
  height: 18em;
  width: 100%;
  padding: 2em 40px;
  padding-bottom: 0em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

form #email {
  width: 100%;
  height: fit-content;
}

form input {
  height: 3.25em;
  padding: 0em 2em;
  width: 100%;
  border: none;
  color: var(--Very-Dark-Blue);
  outline: 3px solid var(--Pale-Blue);
  border-radius: 5em;
  font-size: 1.25em;
  font-weight: 300;
}

form input::placeholder {
  color: var(--Pale-Blue);
}

form input.error {
  outline-color: var(--Light-Red);
}

form button {
  width: 100%;
  height: 80px;
  border-radius: 80px;
  margin: 1em 0em;
  font-size: 1.25em;
  font-weight: 300;
  background: var(--Blue);
  color: var(--White);
  border: none;
  box-shadow: 0 0.5rem 0.8rem var(--Pale-Blue);
}

#errorMessage {
  color: var(--Light-Red);
  font-style: italic;
  height: 2.5em;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0.75em;
}

#errorMessage.hidden {
  height: 0px !important;
  padding: 0em;
}

#dashboard {
  width: 100%;
  height: calc(37vh);
  padding-top: 0.5em;
}

#dashboard img {
  height: auto;
  width: 100%;
}

ul#socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  margin: 0em;
}

#socials li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  outline: 1px solid var(--Gray);
  margin: 0em 0.55em;
}

#socials li i {
  color: var(--Pale-Blue);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--Pale-Blue);
}

i.facebook {
  mask-image: url("images/facebook.svg");
  -webkit-mask-image: url("images/facebook.svg");
  mask-repeat: no-repeat;
  width: 1em !important;
  height: 1.5em;
}

i.twitter {
  mask-image: url("images/twitter.svg");
  -webkit-mask-image: url("images/twitter.svg");
  mask-repeat: no-repeat;
  width: 1.5em;
  height: 1.5em;
}

i.instagram {
  mask-image: url("images/instagram.svg");
  -webkit-mask-image: url("images/instagram.svg");
  mask-repeat: no-repeat;
  width: 1.3em;
  height: 1.5em;
}

footer {
  font-size: 1em;
  font-weight: 300;
  color: var(--Gray);
}

.attribution {
  height: fit-content;
  width: 100%;

  color: var(--Gray);
  font-weight: 300;
  font-size: 1em;

  position: absolute;
  bottom: 0;

  padding-bottom: 0.25em;
  text-align: center;
}
.attribution a {
  color: var(--Blue);
}
